.Banner {
  width: 21%;
  height: 100vh;
  background-color: white;
  overflow: hidden;
}

.Banner img {
  width: 100%;
}

.Banner-fixed {
  width: 18%;
  height: 100vh;
  background-color: #3399e4;
  overflow: hidden;
  position: fixed;
  z-index: 500;
}
.menu {
  display: grid;
  text-align: left;
  gap: 0.77vh;
  color: black;
  font-size: 1.1em;
}

.menu-wrapper {
  border: 5px solid;
}

.section {
  width: calc(100% - 3vw);
  padding-left: 3vw;
  line-height: 38px;
  text-decoration: none;
  color: black;
}
