.Connexion {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Connexion .wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.signin-logo {
  height: 85%;
  width: auto;
}

.Connexion .logo-part {
  background-color: #3399e4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

.Connexion .form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  background-color: white;
}

.Connexion form p {
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  margin-top: 50px;
  margin-bottom: 5vh;
}
.Connexion form {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 62%;
  background-color: white;
  gap: 4vh;
}

.Connexion span {
  width: calc(60% + 22px);
  text-align: right;
  margin: -8px auto 0px auto;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.47);
  text-decoration: underline;
}
.Connexion label {
  height: 10%;
  border: 1px solid rgba(0, 0, 0, 0.33);
  width: 60%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
}

.Connexion label img {
  width: 18px;
  height: auto;
}

.Connexion input {
  width: 75%;
  padding: 0 10px;
  background-color: white;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  border: 0;
  font-family: "Inter", sans-serif;
  outline: none;
}


.Connexion button {
  font-family: "Inter", sans-serif;
  width: 62%;
  height: 12%;
  background: #2d315d;
  font-weight: 400;
  font-size: 1.4rem;
  color: white;
  margin: auto;
  border: 0;
}

.logo-part img {
  width: 55%;
  height: auto;
}


.Connex button {
  font-family: "Inter", sans-serif;
  width: 85%;
  height: 12%;
  background: #2d315d;
  font-weight: 400;
  font-size: 1.4rem;
  color: white;
  margin: auto;
  margin-left:20px;
  border: 0;
}

.Connex input
{
  width: 100%;
  padding: 10px 10px;
  background-color: white;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  border: 0;
  font-family: "Inter", sans-serif;
  outline: none;
}


.Connex span {
  width: calc(60% + 22px);
  text-align: right;
  margin: -8px auto 0px auto;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.47);
  text-decoration: underline;
}
.Connex label {
  height: 10%;
  border: 1px solid rgba(0, 0, 0, 0.33);
  width: 60%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
}

.Connex label img {
  width: 18px;
  height: auto;
}

.Connex
{
  margin-top: 20%;
}



.Connex .form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  background-color: white;
}


.Connex form {
  display: flex;
  flex-direction: column;
  width: 75%;
  
  background-color: white;
 
}